.top-align {
	vertical-align: top;
}

.center-align {
    vertical-align: middle;
}

Link {
    color: '#F00';
    text-decoration: 'none' !important;
    text-align: "center" ;
    flex-grow:"1";
}


.html, body {
    left:0;
    padding-left:0;
    overflow-x: hidden;
}


.link{
    color: 'rgba(255,255,255, 255)'
}

